{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Tableau de Board' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
  
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE DE SAILLIE</span>
              <span class="info-box-number">
                  {% for nbr in nbr_saillie %}
                  <a href="?entity=Saillie">{{ nbr[loop.index] }}</a> - 
                  <a href="?entity=Bande">{{ nbr.libelle }}</a>
                  {% endfor %}
                  <small></small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE MIS BAS</span>
              <span class="info-box-number">
                  {% for nbr in nbr_misebas %}
                  <a href="?entity=MiseBas">{{ nbr[loop.index] }}</a>- 
                  <a href="?entity=Bande">{{ nbr.libelle }}</a>
                  {% endfor %}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE DE LAPINS EN ENGRAISSEMENT</span>
              <span class="info-box-number">
                 {% for nbr in nbr_engraissement %}
                    {% if nbr.nombre_laperaux_vente is null %}
                        {% if nbr.nombre_laperaux is null %} 
                            {{ nbr.nombre_laperaux_sevrage }} -
                        {% else %}
                            {{ nbr.nombre_laperaux }} -
                        {% endif %}    
                    {% else %}
                        {{ nbr.nombre_laperaux_vente }} -
                    {% endif %}
                    
                  <a href="?entity=Bande">{{ nbr.libelle }}</a>
                  {% endfor %}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    
<div class="row">
        <div class="col-md-12">
          <div class="box"><!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">
                    <strong>Ventes: {{ bande_libelle }}</strong>
                  </p>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col --><!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> {{ succes_pourcentage }}%</span>
                    <h5 class="description-header">&nbsp;</h5>
                    <span class="description-text">Teaux de réussite saillie</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> {{ pre_sevrage_pourcentage }}%</span>
                    <h5 class="description-header">&nbsp;</h5>
                    <span class="description-text">Teaux</span> DE MORTALITE AVANT SEVRAGE</div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> {{ post_sevrage_pourcentage }}%</span>
                    <h5 class="description-header">&nbsp;</h5>
                    <span class="description-text">Teaux</span> DE MORTALITE APRES SERVAGE</div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i></span>
                    <h5 class="description-header">
                        {% if nbr_lapains_vendus is null %} 
                            0
                        {% else %} 
                            {{ nbr_lapains_vendus }}
                         {% endif %}    
                    </h5>
                    <span class="description-text">NOMBRE DE LAPIN SORTIE CE MOIS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>    
    
{% endblock %}

{% block main %}
   
{% endblock %}