{% extends '@EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'Tableau de Board' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
  
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE DE SAILLIE</span>
              <span class="info-box-number">
                  {% for nbr in nbr_saillie %}
                  <a href="?entity=Saillie">{{ nbr[loop.index] }}</a> - 
                  <a href="?entity=Bande">{{ nbr.libelle }}</a>
                  {% endfor %}
                  <small></small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE MIS BAS</span>
              <span class="info-box-number"><a href="?entity=MiseBas">{{ nbr_misebas }}</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE LAPIN EN SERVAGE</span>
              <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">nOMBRE DE LAPINS EN ENGRAISSEMENT</span>
              <span class="info-box-number">750</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    
    
    
{% endblock %}

{% block main %}
   
{% endblock %}